2DC268


.appcontainer{
  max-width: 70rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  max-height: 1000px;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  box-sizing: border-box;
  height: 1000px;
}

.form{
  position: initial;
  
	text-align: center;
  height: 7%;
	margin-left: 350px;
	margin-top: 10px;
  width:20%;
  
 
}


.recipescontainer{
  background: red;
  width: 150px;
  z-index: 1;
}

.recipessrcoll{
  height: 140vh;
  overflow-x: scroll;
}



.formcontainer{
  width: 40%;
  margin-left: 340px;
  margin-top: 20px;
  
}

.searchinput{
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all .3s;
  font-size: 1.1rem;
}
.btnsearch{
  background: #2DC268;
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.recipestitle{
  font-size: 13px;
  width: 110px;
  margin-left: 70px;
  margin-top: -40px;
}

.recipesPublisher{
  font-size: 9px;
  color: #2DC268;
  margin-left: 70px;
  margin-top: -14px;
  width: 100px;

  }

  .btntoggle{
    background: transparent;
    border: none;

  }

  .btntoggle:hover{
    cursor: pointer;
    background: transparent;
    border: none;

  }


.inputfeild{
  
  border-radius: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#fff;
	border: none;
	
  height: 40px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  width: 300px;
  border: 1px solid;
  padding: 5px;
  
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  
}



.btn-search{
  position: relative;  
  
  height: 95%;
  background: #2DC268; 
border: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.btnsearch :hover {
  transform: scale(1.5)
}

.recipesList{
  background: #fff;
  
  width: 25%;
  height: 100%;
  left: 100%;
  margin-right: 10px;
  margin-top: 19px;
}





.recipesPublisher{
  font-size: 9px;
  color: #2DC268;
  margin-left: 70px;
  margin-top: -14px;
  width: 100px;

  }


.ptitle{
  text-transform: uppercase;
  color: #252220;
}



 
  .moving{
   float: right;
   width: 40%;
   margin-right: 340px;
   
   

   
  }

  .btnclick{
    border: none;
   width: 100%;
   background: rgb(255, 255, 255);
  }

  .card-title{
    background: #2692dd;
    height: 00px;
    width: 460px;
    bottom: 0;
    margin-left: 270px;
    margin-top: 240px;
    transform: translate(-50%, 20%) skewY(-6deg);
    color:#fff;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

.card-img{
  height: 350px;
  width: 600px;
}


  
    .img-fig::before {
      content: '';
      height: 350px;
      width: 600px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #2DC268 ;
      opacity: .4; }
 
  .card-title span {
    
    -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background: #2DC268;
      
      
  }

.recipesstyle::before{
  content: '';
  height: 55px;
  width: 55px;
  display: block;
  position: absolute;
  border-radius: 205%;
  margin-top: 12px;
  margin-left: 19px;
  top: 0;
  left: 0;
  background:#2DC268;
  opacity: .4; 

}



  .recipe_ingredients{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 1000px;
    width: 700px;
    font-size: 13px;
    line-height: 1.4;
    background-color: #fff;
    margin-right: 10px;
  }
  .recipe_ingredient-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    list-style: none;
    margin-right: 20px;

  }


 

  .Li_Icon{
    fill: #ee0979;
  }



  .heartcontaienr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .heartcontaienr i{
    font-size: 25px;
    color: #f12711;
  }


.card-img-overlay{
  height: 100px;
}
.addtoshoppingtag{
  font-size: 1.1rem;
  font-weight: 600;
  color: #2DC268;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  transform: skewY(-3deg);




}


.shoppingingcontainer{
  height: 500px;
  overflow-x: scroll;
  margin-top: 5px;
}

.inglist{
  background: gray;
  width: 50px;
}
.ingitem{
  font-size: 15px;
  width: 200px;
}

.lovedcontainer{
  position: absolute;
  left: 850px;
  bottom: 12px;
  float:right;
}


.lovedcontainer i{
  font-size: 35px;
  color: #f12711;
}

.dropdown-menu{
  width: 250px;
}
  /** for scroll bar */

  ::-webkit-scrollbar {
    width: 10px;
      background-image: linear-gradient(to right bottom, #f12711, #f5af19);

  }




  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }