



  body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(143, 116, 106);
    background: #2DC268;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 2 * 4vw); 
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  